.nav-wrapper {
    color: #EF7E56
}
.firsttext {
    color : #F9F9F9
}
.first_img {
    margin-bottom: 0;
    margin-left: 0;
    padding-left:0;
    padding-bottom: 0;
}
.first_img img {
    background-repeat:  no-repeat;
    padding: 0;
    margin: 0;
    width: 1200px;
    Height: 500px;
}

.title {
    z-index: 1;
}
.card-image img {

    height: 300px;
}

.textintro {

    text-align: justify;
}

.test2 {

    min-height:1200px;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}